.our-best
	background: url("../../images/bg-paper.png") no-repeat 100%/cover
	min-height: 500px
	padding: 80px 20px
	text-align: center
	&__products
		display: flex
		justify-content: center
		flex-flow: row wrap
		gap: 35px 71px
		margin-top: 39px